<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/custom.css') }}">
    <title>Fashion Program</title>
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-xl navbar-light">
      <div class="container-fluid">
        <div class="navbar-brand">Fashion Program</div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Clothing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('outfits')}}">Outfits</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- insert new clothing -->
    <div class="container-fluid">
        <div class="jumbotron m-3">
            <h1 class="display-4">Insert New Clothing</h1>
            <p class="lead">Insert new clothing by filling the form below!</p>
            <hr>
            <form class="form-horizontal" method="post" action="/">

                <!-- Name -->
                <div class="form-row white-bg">
                  <label class="control-label col-sm-2 text-right font-weight-bold mt-2" for="clothingName">
                      Name*: </label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="clothingName" placeholder="Enter name" required
                             name="clothing name">
                  </div>
                </div>
                <!-- Type of article -->
                <div class="form-row light-gray-bg">
                  <label class="control-label col-sm-2 text-right font-weight-bold mt-2" for="clothingType">
                      Type of Clothing*: </label>
                  <div class="col-sm-10">
                      <select class="form-control" id="clothingType" required
                              name="clothing type">
                          {% for type in clothing_types %}
                              <option>{{type}}</option>
                          {% endfor %}
                      </select>
                  </div>
                </div>
                <!-- Primary Color -->
                <div class="form-row red-bg">
                  <label class="control-label col-sm-2 text-right font-weight-bold mt-2" for="firstColor">
                      First Color*: </label>
                  <div class="col-sm-10">
                      <select class="form-control" id="firstColor" required name="first color">
                          {% for color in colors %}
                            <option>{{color}}</option>
                          {% endfor %}
                      </select>
                  </div>
                </div>
                <!-- Secondary Color -->
                <div class="form-row red-bg">
                  <label class="control-label col-sm-2 text-right mt-2" for="secondColor">
                      Second Color: </label>
                  <div class="col-sm-10">
                      <select class="form-control" id="secondColor" name="second color">
                          {% for color in colors %}
                            <option>{{color}}</option>
                          {% endfor %}
                      </select>
                  </div>
                </div>
                <!-- Tertiary Color -->
                <div class="form-row red-bg">
                  <label class="control-label col-sm-2 text-right mt-2" for="thirdColor">
                      Third Color: </label>
                  <div class="col-sm-10">
                      <select class="form-control" id="thirdColor" name="third color">
                          {% for color in colors %}
                            <option>{{color}}</option>
                          {% endfor %}
                      </select>
                  </div>
                </div>

                <!-- Primary Style -->
                <div class="form-row orange-bg">
                  <label class="control-label col-sm-2 text-right font-weight-bold mt-2" for="firstStyle">
                      First Style*: </label>
                  <div class="col-sm-10">
                      <select class="form-control" id="firstStyle" required name="first style">
                          {% for style in styles %}
                            <option>{{style}}</option>
                          {% endfor %}
                      </select>
                  </div>
                </div>
                <!-- Secondary Style -->
                <div class="form-row orange-bg">
                  <label class="control-label col-sm-2 text-right mt-2" for="secondStyle">Second Style: </label>
                  <div class="col-sm-10">
                      <select class="form-control" id="secondStyle" name="second style">
                          {% for style in styles %}
                            <option>{{style}}</option>
                          {% endfor %}
                      </select>
                  </div>
                </div>
                <!-- Primary Fabric -->
                <div class="form-row yellow-bg">
                  <label class="control-label col-sm-2 text-right font-weight-bold mt-2" for="firstFabric">
                      First Fabric*: </label>
                  <div class="col-sm-10">
                      <select class="form-control" id="firstFabric" required name="first fabric">
                          {% for fabric in fabrics %}
                            <option>{{fabric}}</option>
                          {% endfor %}
                      </select>
                  </div>
                </div>
                <!-- Secondary Fabric -->
                <div class="form-row yellow-bg">
                  <label class="control-label col-sm-2 text-right mt-2" for="secondFabric">
                      Second Fabric: </label>
                  <div class="col-sm-10">
                      <select class="form-control" id="secondFabric" name="second fabric">
                          {% for fabric in fabrics %}
                            <option>{{fabric}}</option>
                          {% endfor %}
                      </select>
                  </div>
                </div>
                <!-- Weather -->
                <div class="form-row green-bg">
                  <label class="control-label col-sm-2 text-right font-weight-bold mt-2" for="clothingWeather">
                      Weather*: </label>
                  <div class="col-sm-10">
                      <select class="form-control" id="clothingWeather" required name="weather">
                          {% for weatherType in weather %}
                            <option>{{weatherType}}</option>
                          {% endfor %}
                      </select>
                  </div>
                </div>
                <!-- Score -->
                <div class="form-row turquoise-bg">
                  <label class="control-label col-sm-2 text-right font-weight-bold mt-2" for="clothingScore">
                      Enter score (out of 10)*: </label>
                  <div class="col-sm-10">
                      <input type="number" min=0 max=10 class="form-control" id="clothingScore"
                             placeholder="Enter score" required name="clothing score">
                  </div>
                </div>
                <!-- Link to Image -->
                <div class="form-row magenta-bg">
                  <label class="control-label col-sm-2 text-right font-weight-bold mt-2" for="imageLink">
                      Link to image*: </label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="imageLink" placeholder="Enter image link"
                             required name="image link">
                  </div>
                </div>
                <p></p>
                <input type="submit" class="btn btn-primary" value="Add">
            </form>
            <small class="text-danger">*Required</small>
            {% if alert != "" %}
                <p class="text text-danger">{{alert}}</p>
            {% endif %}
        </div>
    </div>

    <!-- clothing table -->
    <div class="container-fluid">
      <div class="jumbotron m-3">
        <h1 class="display-4">Clothing</h1>
          <p class="lead">These are the clothes in the database.</p>
          <table class="table">
              <thead class="thead-light">
                  <tr>
                      <th>Clothing ID</th> <th>Name</th> <th>Color(s)</th> <th>Style(s)</th> <th>Fabric(s)</th>
                      <th>Weather</th> <th>Score</th> <th>Image</th> <th>Type</th> <th>Edit or Delete</th>
                  </tr>
              </thead>
              <!-- Display clothes -->
              {% for clothing in clothes %}
                  <tr>
                      <!-- ID -->
                      <td>{{clothing[0]}}</td>
                      <!-- Name -->
                      <td>{{clothing[1]}}</td>
                      <!-- Colors -->
                      <td>{{", ".join(clothing[2])}}</td>
                      <!-- Styles -->
                      <td>{{", ".join(clothing[3])}}</td>
                      <!-- Fabrics -->
                      <td>{{", ".join(clothing[4])}}</td>
                      <!-- Weather -->
                      <td>{{clothing[5]}}</td>
                      <!-- Score -->
                      <td>{{clothing[6]}}</td>
                      <!-- image -->
                      <td style="width: 15%">
                          <img src="{{clothing[7]}}" alt="{{clothing[0]}}" class = "w-75">
                      </td>
                      <!-- type -->
                      <td>{{clothing[8]}}</td>
                      <!-- Delete and Edit-->
                      <td><ul style="list-style-type:none; padding-left: 0">
                          <li>
                            <a href="{{url_for('editClothing', ID=clothing[0])}}" class="btn btn-info w-100 ml-1" role="button">Edit</a>
                          </li>
                          <li>
                            <a href="/delete/{{clothing[0]}}" class="btn btn-danger w-100 ml-1" role="button">Delete</a>
                          </li>
                      </ul></td>
                  </tr>
              {% endfor %}
            </table>
      </div>
    </div>
  </body>
</html>