<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/custom.css') }}">
    <title>Fashion Program</title>
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-xl navbar-light">
      <div class="container-fluid">
        <div class="navbar-brand">Fashion Program</div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Clothing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Outfits</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- insert new clothing -->
    <div class="container-fluid">
        <div class="jumbotron m-3">
            <h1 class="display-4">Insert New Clothing</h1>
        </div>
    </div>

    <!-- clothing table -->
    <div class="container-fluid">
      <div class="jumbotron m-3">
        <h1 class="display-4">Clothing</h1>
          <p class="lead">These are the clothes in the database.</p>
          <table class="table">
              <thead class="thead-light">
                  <tr>
                      <th>Clothing ID</th> <th>Name</th> <th>Color(s)</th> <th>Style(s)</th> <th>Fabric(s)</th>
                      <th>Weather</th> <th>Score</th> <th>Image</th> <th>Edit or Delete</th>
                  </tr>
              </thead>
              {% for clothing in clothes %}
                  <tr>
                      <!-- ID -->
                      <td>{{clothing[0]}}</td>
                      <!-- Name -->
                      <td>{{clothing[1]}}</td>
                      <!-- Colors -->
                      <td>{{", ".join(clothing[2])}}</td>
                      <!-- Styles -->
                      <td>{{", ".join(clothing[3])}}</td>
                      <!-- Fabrics -->
                      <td>{{", ".join(clothing[4])}}</td>
                      <!-- Weather -->
                      <td>{{clothing[5]}}</td>
                      <!-- Score -->
                      <td>{{clothing[6]}}</td>
                      <!-- image -->
                      <td style="width: 15%">
                          <img src="{{clothing[7]}}" alt="{{clothing[0]}}" class = "w-75">
                      </td>
                      <!-- Delete and Edit-->
                      <td><ul style="list-style-type:none; padding-left: 0">
                          <li>
                            <a href="#" class="btn btn-info w-100 ml-1" role="button">Edit</a>
                          </li>
                          <li>
                            <a href="#" class="btn btn-danger w-100 ml-1" role="button">Delete</a>
                          </li>
                      </ul></td>
                  </tr>
              {% endfor %}
            </table>
      </div>
    </div>
  </body>
</html>