<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/custom.css') }}">
    <title>Fashion Program</title>
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-xl navbar-light">
      <div class="container-fluid">
        <div class="navbar-brand">Fashion Program</div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Clothing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('outfits')}}">Outfits</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- insert new outfit -->
    <div class="container-fluid">
        <div class="jumbotron m-3">
            <h1 class="display-4">Create Outfits</h1>
            <p class="lead">You can create or generate outfits by clicking the button below.</p>
            <a href="{{url_for('addOutfits', chosen_info = [None, None, None, None, None, None, [], None, None])}}"
               role="button" class="btn btn-danger">New Outfit</a>
        </div>
    </div>

    <!-- outfits table -->
    <div class="container-fluid">
      <div class="jumbotron m-3">
        <h1 class="display-4">Outfits</h1>
          <p class="lead">These are the outfits in the database.</p>
          <table class="table">
              <thead class="thead-light">
                  <tr>
                      <th>Outfit ID</th> <th>Outfit Name</th><th>Top</th> <th>Bottom</th> <th>Shoes</th> <th>Sweater</th>
                      <th>Jacket</th> <th>Accessories</th> <th>Comment</th> <th>Rating</th> <th>Edit/Delete</th>
                  </tr>
              </thead>
              <!-- Display clothes -->
              {% for outfit in outfits %}
                  <tr>
                      <!-- ID -->
                      <td>{{outfit[0]}}</td>
                      <!-- Name -->
                      <td>{{outfit[1]}}</td>
                      <!-- Top -->
                      <td>
                          <div>
                            <p class = "lead">{{outfit[2][0]}}: {{outfit[2][1]}}</p> <br>
                            <img src="{{outfit[2][2]}}" alt="{{outfit[2][1]}}" class = "w-75">
                          </div>
                      </td>
                      <!-- Bottom -->
                      <td>
                          <div>
                            <p class = "lead">{{outfit[3][0]}}: {{outfit[3][1]}}</p> <br>
                            <img src="{{outfit[3][2]}}" alt="{{outfit[3][1]}}" class = "w-75">
                          </div>
                      </td>
                      <!-- Shoes -->
                      <td>
                          <div>
                            <p class = "lead">{{outfit[4][0]}}: {{outfit[4][1]}}</p> <br>
                            <img src="{{outfit[4][2]}}" alt="{{outfit[4][1]}}" class = "w-75">
                          </div>
                      </td>
                      <!-- Sweater -->
                      <td>
                          {% if outfit[5] is not none %}
                              <div>
                                <p class = "lead">{{outfit[5][0]}}: {{outfit[5][1]}}</p> <br>
                                <img src="{{outfit[5][2]}}" alt="{{outfit[5][1]}}" class = "w-75">
                              </div>
                          {% endif %}
                      </td>
                      <!-- Jacket -->
                      <td>
                          {% if outfit[6] is not none %}
                              <div>
                                <p class = "lead">{{outfit[6][0]}}: {{outfit[6][1]}}</p> <br>
                                <img src="{{outfit[6][2]}}" alt="{{outfit[6][1]}}" class = "w-75">
                              </div>
                          {% endif %}
                      </td>
                      <!-- Accessories -->
                      <td>
                          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                              {% for accessory in outfit[7] %}
                                {% if accessory is not none %}
                                  <div class="carousel-inner">
                                    <div class="carousel-item">
                                      <img src="{{accessory[3]}}" alt="{{accessory[1]}}">
                                      <div class="carousel-caption d-none d-md-block">
                                        <h5>{{accessory[0]}}</h5>
                                        <p>{{accessory[1]}}</p>
                                      </div>
                                    </div>
                                  </div>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                      <!-- Comment -->
                      <td>{{outfit[8]}}</td>
                      <!-- Rating -->
                      <td>{{outfit[9]}}</td>
                  </tr>
              {% endfor %}
            </table>
      </div>
    </div>
  </body>
</html>